.authPage {
  background-color: rgba(53, 53, 53, 0.205);
}
.nav {
  height: 3.5rem;
  width: 100%;
  background-color: #0e76a8;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(129, 129, 129);
}
