.registerpage {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #0e76a8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.register-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-right: 10%;
}

.register-inp {
  margin: 0;
  padding: 0.8rem;
  /* padding-left: 2rem; */
  padding-right: 2rem;
  border-radius: 10px;
  border-color: #ddd;
  width: 100%;
}
input:focus {
  outline: none;
  border-color: #aaa;
}
.btn {
  height: 1rem;
  width: 7rem;
  color: #fff;
  background-color: #0e76a8;
  border-radius: 2rem;
  padding: 1rem;
  padding-right: 0;
  padding-left: 3rem;
  font-weight: 500;
  cursor: pointer;
}
.btn :hover {
  margin-bottom: 1rem;
  background-color: #ddd;
}
