.homepage {
  height: 100vh;
  width: 100%;
  background-color: rgba(212, 212, 212, 0.192);
  position: fixed;
  overflow: hidden;
}
.nav {
  height: 3.5rem;
  width: 100%;
  background-color: #0e76a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(129, 129, 129);
}
.login {
  text-decoration: none;
  color: #fff;
  margin: 1.5rem;
  font-weight: 550;
}
.signup {
  text-decoration: none;
  color: #0e76a8;
  margin: 0.2rem;
  font-weight: 550;
}
.login:hover {
  color: rgb(224, 224, 224);
}
.signup:hover {
  color: rgb(22, 22, 22);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.mainText {
  font-size: 4rem;
  font-weight: 400;
}
.hero .heroLogo {
  font-weight: bolder;
  color: #0e76a8;
}
.hero .heroLogoUp {
  font-weight: bolder;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.description {
  font-weight: 200;
  font-size: large;
  margin-top: 0.6rem;
  padding: 1px 6px;
  border-radius: 6px;
  color: #000;
}
.newHere {
  margin-top: 40vh;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 413px) {
  .hero .mainText {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homepage {
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
}
